<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shopping Cart</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Koulen"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
      * {
        font-family: "Koulen", sans-serif;
      }
      body {
        background-image: url(pages/images/background.png);
      }
      .poke_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      .pokemon {
        height: 350px;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <!-- items added to cart-->
    <div id="poke_container" class="poke_container"></div>
    <!-- checkout button-->
    <div class="total" id="total" name="total"></div>
    <div>
      <button class="checkout" id="checkout" onclick="redirect();">
        Checkout
      </button>
    </div>
  </body>
  <script src="pages/shopping/shoppingCart.js"></script>
</html>
