<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shopping Cart</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Koulen"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
      * {
        font-family: "Koulen", sans-serif;
      }
      body {
        background-image: url(pages/images/background.png);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    </style>
  </head>
  <body>
    <!-- items added to cart-->
    <div class="cart"></div>
    <!-- checkout button-->
    <button class="checkout">Checkout</button>
  </body>
  <script src="pages/shopping/shoppingCart.js"></script>
</html>
