<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pokedex - Login</title>
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/pages/login/login.css">
</head>
<body>
    <div class="container">
        <div class="box box-one">
            <img src="/images/logo.png">
        </div>
        <h2>Sign in</h2>
        <div class="box box-two">
          <form>
            <span class="notice"></span>
              <div class="input-field">
                  <input type="text" placeholder="Email" name="email">
              </div>
              <div class="input-field">
                  <input type="password" placeholder="Password" name="password">
          </form>
          <button class="login" id="login">Login</button>
          <button>Forgot password</button>
        </div>
        <p>Don't have an account <a href="/register">Sign Up</a></p>
      </div>
    <script src="/scripts/global.js"></script>
    <script src="/pages/login/login.js"></script>
</div>
</body>
</html>
